.fifth-heghlight-wrapper .left-side-wrapper .left-side-container{
	background-image:  url("../../images/home/actors.jpg"); 
	background-color: #000;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: cover;		
}
.fifth-heghlight-wrapper .right-side-wrapper .right-side-container{
	background-image:  url("../../images/home/watch.jpg"); 
	background-color: #fbfbfd;
	background-position: bottom;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: auto;	
}
.fifth-heghlight-wrapper .description-wraper {
	max-width: 450px;
	margin: 7px auto;
}
.watch-more-wrapper a {
	text-decoration: none;
	font-size: 0.85em;
	color: #fff;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
.tvshow-logo-wraper {
	padding: 340px 0 0px;
}

.title-wraper {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
}
.title-wraper.bold {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
}


.left-side-container {
	min-height: 515px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
}

.right-side-container {
	min-height: 515px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
}
.left-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

.right-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

/*Media Query*/


@media (min-width: 768px) {

	
	/*Fifth section*/
	.fifth-heghlight-wrapper .left-side-wrapper .left-side-container {
	    margin: 5px 5px 5px 10px;
	}
	.fifth-heghlight-wrapper .right-side-wrapper .right-side-container {
	    margin: 5px 10px 5px 5px;
	}

}