.footerWrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: .7em;
}
.footerWrapper ul {
	list-style: none;
	padding-bottom: 10px;
	padding-inline-start: 0px;
}
.footerWrapper ul a {
	color: #515154;
}
.myAppleWrapper {
	padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
	margin-top: 15px;
}
.footerCountry {
	margin-top: 8px;
}
.flagWrapper {
	display: inline-block;
	vertical-align: middle;
	padding-right: 5px;
}
.footerCountryName{
	display: inline-block;
	vertical-align: middle;
}
.footerLinksTerms ul {
	display: flex;
}
.footerLinksTerms ul li {
	padding: 0 10px;
	border-right: 1px solid #d2d2d7;
}
.footerLinksTerms ul li:first-child {
	padding-left: 0;
}
.footerLinksTerms ul li:last-child {
	border-right: 0;
}

.footerLinksWrapper h3 {
	font-size: 12px;
	font-weight: 600;
	color: #1d1d1f;
}
.footerWrapper ul li{
	padding: 4px 0;
}
.upperTextContainer {
	border-bottom: 1px solid #d2d2d7;
	padding: 17px 0 10px;
	margin-bottom: 20px;
}
.upperTextContainer a {
	color: #515154;}


/*Media Query*/

	@media (max-width: 768px){
	.footerLinksWrapper ul {
		display: none;
	}
	.footerLinksWrapper h3 {
		padding: 10px 0;
		border-bottom: 1px solid #ccc;
	}
	.footerLinksWrapper h3:after {
		font-family: "FontAwesome";
		content: "\f067";
		padding-left: 10px;
		position: absolute;
		right: 25px;
	}

}

@media (min-width: 768px) {
.myAppleWrapper {
		border-bottom: 1px solid #d2d2d7
	}
}
 @media (min-width: 992px) {
	/*Footer styling*/
	.copyright {
		margin-top: 10px;
	}
	.footerCountry {
		margin-top: 10px;
	}
	.footerLinksTerms {
		margin-top: 10px;
	}	
} 
