.sixth-heghlight-wrapper .left-side-wrapper .left-side-container{
	background-image:  url("../../../images/home/spyder.jpg"); 
	background-color: #000;
	background-position: bottom;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: cover;		
}
.sixth-heghlight-wrapper .right-side-wrapper .right-side-container{
	background-image:  url("../../../images/home/apple-card-monthly.jpg"); 
	background-color: #fbfbfd;
	background-position: bottom;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: auto;	
}

.left-side-container {
	min-height: 515px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
}

.right-side-container {
	min-height: 515px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
}
.left-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

.right-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}
.sixth-heghlight-wrapper .links-wrapper {
	max-width: 300px;
	margin: 0 auto;
}
.links-wrapper ul {
	list-style: none;
}
.product-title {
	font-weight: 700;
	font-size: 56px;
}
.brief-description {
	font-size: 2em;
}
.sixth-heghlight-wrapper .description-wraper {
	max-width: 250px;
	margin: 7px auto;
}

.right-side-wrapper .title-wraper {
	max-width: 280px;
	margin: 0 auto; 
} 
/*Media Query*/


@media (min-width: 768px) {

	.sixth-heghlight-wrapper .left-side-wrapper .left-side-container {
	    margin: 5px 5px 10px 10px;
	}
	.sixth-heghlight-wrapper .right-side-wrapper .right-side-container {
	    margin: 5px 10px 10px 5px;
	}	
	.sixth-heghlight-wrapper .links-wrapper {
	    max-width: 500px;
	}	
}